---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Embark on a journey of innovation with RSTheme! Since our inception in 2017, we've been at the forefront of crafting modern, sought-after WordPress Premium Themes and Plugins. Our creative prowess extends beyond WordPress – we've delved into designing and developing Joomla templates, HTML templates, PSD templates, and in 2021, we embraced the world of React JS templates.

<Layout title="Welcome to RSTheme.">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Premium WordPress Theme</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <p class="mb-8">
        <a href="https://rstheme.com/" class="btn btn-lg btn-primary sm:btn-wide">Get Premium WordPress Theme</a>
    </p>
</Layout>
